{% load disqus_tags %}
{% load globaltags %}
{% load git %}
<div class="sidebar-module sidebar-module-inset">
    {% get_user 'shitikovkirill' as user %}
    <img src="{{ user.avatar_url }}">
    <hr>
    <p><b>{{ user.login }}</b></p>
    <p>{{ user.name }}</p>
    <p>{{ user.bio }}</p>
    <p>{{ user.company }}</p>
    <p><a href="{{ user.html_url }}" target="_blank">Github профиль</a></p>
    <p><a href="{{ user.repos_url }}" target="_blank">Мои репозитории</a></p>
    <iframe src="https://ghbtns.com/github-btn.html?user=shitikovkirill&type=follow&count=true&size=large"
            frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
</div>

<div class="sidebar-module sidebar-module-inset">
    <h4>Recent Comments</h4>
    {% disqus_recent_comments shortname 5 50 0 24 %}
</div>

<div class="sidebar-module sidebar-module-inset">
    <h4>Recent Posts</h4>
    {% recentposts as recentposts_list %}
    {% for post in recentposts_list %}
        <li><a href="{% url 'detail_post_page' slug=post.slug %}">{{ post.title }}</a></li>
    {% empty %}
        <p>No posts yet!</p>
    {% endfor %}
</div>

<div class="sidebar-module sidebar-module-inset">
    <h4>Entire Tags</h4>
    {% populartags as populartags_list %}
    {% for tag in populartags_list %}
        <a class="btn btn-sm btn-block btn-default cst__radius cst__tags"
           href="{% url 'tag_posts_page' slug=tag.tag.slug %}">
            {{ tag.tag.title }} <span class="badge pull-right">{{ tag.total }}</span>
        </a>
    {% empty %}
        <p>No tags yet!</p>
    {% endfor %}
</div>
