<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    {% block header %}
        {% include "includes/main/header.html" %}
    {% endblock %}

    <title>{% block title %}WebWave{% endblock %}</title>

    {% block meta_seo %}
        {% include "includes/main/meta.html" %}
    {% endblock %}

    {% block css %}
        {% include "includes/scripts/css.html" %}
    {% endblock %}

    {% block head_js %}
        {% include "includes/scripts/head_js.html" %}
    {% endblock %}
</head>

<body>
{% include "includes/main/google_analytics.html" %}
{% include "includes/main/facebook_jssdk.html" %}

{% include "includes/menu.html" %}

<div class="container main__container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar" id="non-printable">
            {% include "includes/sidebar.html" %}
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</div><!-- /.main__container -->

{% include "includes/footer.html" %}

{% block footer_js %}
    {% include "includes/scripts/footer_js.html" %}
{% endblock %}
</body>
</html>
