{% extends "slides_base.html" %}

{% block content %}
    {% block message_info_homepage %}{% endblock %}
    {% for slide in object.slides.all %}
        {% if slide.sub_slides.all %}
            <section>
                {% include "slides/includes/slide.html" with slide=slide %}
                {% for sub_slide in slide.sub_slides.all %}
                    {% include "slides/includes/slide.html" with slide=sub_slide %}
                {% endfor %}
            </section>
        {% else %}
            {% include "slides/includes/slide.html" with slide=slide %}
        {% endif %}
    {% endfor %}
{% endblock %}
