{% load staticfiles %}<html>
	<head>

		<link rel="stylesheet" href="{% static "reveal/css/reveal.css" %}">
		<link rel="stylesheet" href="{% static "reveal/css/theme/white.css" %}">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				{% block content %}
                {% endblock %}
			</div>
		</div>
        <link rel="stylesheet" href="{% static "highlight/styles/monokai-sublime.css" %}">
        <script src="{% static "highlight/highlight.pack.js" %}"></script>
        <script src="{% static "reveal/js/reveal.js" %}"></script>
		<script>
			Reveal.initialize();
			hljs.initHighlightingOnLoad();
		</script>
	</body>
</html>