{% load staticfiles %}<meta charset="UTF-8">
<meta name="robots" content="noodp,noydir"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content='100004919839335' property='fb:admins'/>
<meta content='647189095407751' property='fb:app_id'/>
<meta name="google-site-verification" content="ALyG2_Wag27MgRzLcdZDMUIiL_keuGcVTfLYMeWH_CI"/>
<link rel="publisher" href="https://plus.google.com/112965619973080744055"/>
<meta name="msvalidate.01" content="549DDB40F02282AF680D66EE25B5A94F"/>
<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider"/>
<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/dbed287a-f726-40d2-82b8-7faaf9dc5018"/>
<link rel="shortcut icon" href="{% static "assets/icons/favicon.ico" %}">
<link href="/feed/" rel="alternate" type="application/rss+xml" title="Blog Feed"/>