{% load staticfiles %}<meta name="description" content="Django Blog Python Learning">
<meta name="author" content="Summon Agus">
<meta name="keywords"
      content="Python Learning, Summon Agus, Django Blog Summon Agus, Django, Blog Python Django"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Python Learning}"/>
<meta property="og:description" content="Django Blog Python Learning"/>
<meta property="og:url" content="https://python.web.id"/>
<meta property="og:image" content="https://python.web.id{% static "icons/favicon.ico" %}"/>
<meta property="og:site_name" content="python.web.id"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Django Blog Python Learning"/>
<meta name="twitter:image:src" content="https://python.web.id{% static "icons/favicon.ico" %}"/>
<meta name="twitter:title" content="Python Learning"/>
<meta name="twitter:domain" content="python.web.id"/>
<meta name="twitter:creator" content="@agusmakmun6"/>