{% load staticfiles %}<meta name="description" content="Study WebWave">
<meta name="author" content="Kirill Shitikov">
<meta name="keywords"
      content="Study programming"/>
<meta property="og:locale" content="ru_RU"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="WebWave"/>
<meta property="og:description" content="Django Blog Python Learning"/>
<meta property="og:url" content="http://study.webwave.space"/>
<meta property="og:image" content="http://study.webwave.space{% static "icons/favicon.ico" %}"/>
<meta property="og:site_name" content="study.webwave.space"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Django Blog Python Learning"/>
<meta name="twitter:image:src" content="http://study.webwave.space{% static "icons/favicon.ico" %}"/>
<meta name="twitter:title" content="Python Learning"/>
<meta name="twitter:domain" content="study.webwave.space"/>
<meta name="twitter:creator" content="@KennyKwey"/>